workspaces/cody_upload_workflow.json
{
  "name": "upload_workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        192
      ],
      "id": "ea9e2d5b-6525-44fc-8166-436cde69e8b6",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2wnDD0qRqpCvH6UK",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=https://drive.google.com/file/d/{{ $json.params.content }}/edit ",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -256,
        0
      ],
      "id": "0b80fe05-cf21-436a-ab77-c0a9b05af15b",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "x9FqEt5Ecu5FlAEm",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -80,
        0
      ],
      "id": "8cfb6bd1-ea68-44b3-92a0-c76c65443188",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        0
      ],
      "id": "57b7eba7-b256-4aa8-bbdc-a9487d2510c1",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "IVKU8t9uzQxYWPpe",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        208,
        336
      ],
      "id": "9cdb6f19-6f98-4a38-b231-a6c2a83e90d6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "path": ":content",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -464,
        16
      ],
      "id": "fe0eb4a7-1403-420a-8cd7-703e740e1a30",
      "name": "Webhook",
      "webhookId": "7bb0b0e7-ec5b-4756-bae2-8b79d806c004",
      "onError": "continueErrorOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8f7e6c16-7840-453b-8f96-98cf0b01f107",
  "meta": {
    "instanceId": "fd406d8fa141d21c49ef284407f08f1f858aa8385a20b02f364527ac5b3e6293"
  },
  "id": "KcXMVjiONYHV18te",
  "tags": []
}