workspaces/cody_demo.json
{
  "name": "Demo",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.params.content }}",
        "options": {
          "systemMessage": "Provide an insight on the given prompt.\nThe given prompt is documentation for a business, insights should be business oriented.\n\nUsing the connected tool, reference business documentation to provide an insight on.\n\nMake sure the insight is less than 1900 characters, including spaces and special characters."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        464,
        -16
      ],
      "id": "d793f50c-6fab-4929-89e6-44820e5bf7f4",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "model": "gpt-5-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1,
      "position": [
        464,
        176
      ],
      "id": "fc1fa567-af69-4c16-a3ee-8b721b6a3ca9",
      "name": "Azure OpenAI Chat Model",
      "credentials": {
        "azureOpenAiApi": {
          "id": "6e1YZbNrD6gqWAfc",
          "name": "Azure Open AI account 3"
        }
      }
    },
    {
      "parameters": {
        "path": ":content",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": 204
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "750ffcf8-feba-42c6-8560-37b218fa179c",
      "name": "Webhook",
      "webhookId": "7bb0b0e7-ec5b-4756-bae2-8b79d806c004",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        512
      ],
      "id": "d328a1ca-8d60-430e-b1e3-abc206987bb3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2wnDD0qRqpCvH6UK",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Grab 1 document relevant to the prompt",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        624,
        368
      ],
      "id": "205e8423-67c1-48ea-9472-38c7d27177d8",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "IVKU8t9uzQxYWPpe",
          "name": "Supabase account 3"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1346689710982168586",
          "mode": "list",
          "cachedResultName": "ITC303 - JARVIS Project",
          "cachedResultUrl": "https://discord.com/channels/1346689710982168586"
        },
        "channelId": {
          "__rl": true,
          "value": "1413122446038401106",
          "mode": "list",
          "cachedResultName": "ai-bot-testing",
          "cachedResultUrl": "https://discord.com/channels/1346689710982168586/1413122446038401106"
        },
        "content": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        768,
        -16
      ],
      "id": "13e9ab80-bdc6-49c8-ba09-5c7c68ca06c9",
      "name": "Send a message1",
      "webhookId": "c21c6956-50a7-492d-a4de-18d1dcd3e93a",
      "credentials": {
        "discordBotApi": {
          "id": "EBoQoQnTxX0P7w4z",
          "name": "Discord Bot account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dfe0d25d-b06b-4192-8b69-c5d5b1bdd1c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fd406d8fa141d21c49ef284407f08f1f858aa8385a20b02f364527ac5b3e6293"
  },
  "id": "3nKqMThWJDU7woUQ",
  "tags": []
}